/* 标题边框 */
headerbar {
  opacity: 0.7;
}

/* 主窗口 */
window#main-window {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline-width: 0px;
}

/* 搜索窗口 */
columnview#search-window-column listview row {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* 歌词容器 */
box#lyric-container {
  padding: 6px 16px 6px 12px;
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 32px;
}

/* 歌词图标 */
image#lyric-icon {
  opacity: 0.9;
  margin-end: 8px;
}

/* 歌词标签 */
label#lyric {
  color: hsl(0, 0%, 100%);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}