/* 标题边框 */
headerbar {
  opacity: 0.7;
}

/* 主窗口 */
window#main-window {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline-width: 0px;
}

/* 搜索窗口 */
columnview#search-window-column listview row {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* 歌词标签 */
label#lyric {
  padding: 4px 12px;
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}